<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
    <div class="col-8 offset-2">
        <br/><br/>
    <h3>Login On WanderLust</h3>
    <form method="POST" action="/login" novalidate class="needs-validation">
        <div class="md-3">
            <lable for="username" class="form-label">Username</lable>
            <input name="username" type="text" class="form-control" id="username" required>
        </div>
        <div class="md-3">
            <lable for="password" class="form-label">Password</lable>
            <input name="password" type="password" class="form-control" id="password" required>
        </div>
        <br>
        <button class="btn btn-success">Login</button>
    </form>
    </div>
    </div>
</body>